
body {
    /*display: flex;*/
    min-height: 100vh;
    flex-direction: column;
    padding-top: 10vh;
}

main {
    flex: 1 0 auto;
}
.dessous{
    min-height: 80px;
    padding-top: 30px;
}
.infos_index{
    /*min-width: 50vw;*/
}